@font-face {
   font-family: 'rapier';
   src: url('../fonts/rapier-zero.ttf') format('truetype');
}

@font-face {
   font-family: 'adventure';
   src: url('../fonts/adventure-subtitles.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}



a, a:visited  {text-decoration:none; color:inherit;}



@largbase: 10%;
@largbutton: 14%;


body{

	background-color:#4acce0;
	margin: 0px;
	padding-top:0px;

}

/*menù_top*/

#invisible_top_banner{

  position: relative;
  width:100%;
  height:110px;


}

#menu_top{

  z-index:1;
  position:fixed;
  width:100%;
  height:110px;
  top:0px;
  left:0px;
  background-color: white;
}

.menubutton{

  position: absolute;
  width: @largbutton;
  left:30%;
  height: 110px;
  top:0px;
  line-height: 110px;
  text-align: center;
  color:black;
  font-weight: bold;
  font-size:20px;

}

.menubutton:hover{

background-color: #4acce0;
color:white;
}

#logo{

  position: absolute;
  width:10%;
  height: 100px;
  top: 5px;
  left:5px;
}

#but_1{

  position: absolute;
  left: @largbase;

}

#but_2{

  position: absolute;
  left: @largbase + @largbutton * 2;


}

#but_3{

  position: absolute;
  left: @largbase + @largbutton * 3;


}

#but_4{

  position: absolute;
  left:52%;


}

#but_5{

  position: absolute;
  left:66%;

}

#but_6{

  position: absolute;
  left:80%;

}
